<section class="user-details">
  <div>
    <h2><%= "Name: #{@user.name}" %></h2>
    <p><%= @user.email %></p>
    <% User.all.each do |user|%>
      <% if user != current_user %>
        <%= render user %>
      <% end %>
    <% end %>
  </div>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <% if @posts.empty? %>  
      <p>No posts yet</p>
    <% else %>
      <ul class="posts">  
        <%= render @posts %>
      </ul>
    <% end %> 
  </article>
</section>
